@font-face {
    font-family: Minecraft;
    src: url(./Minecraft.ttf);
}

body {
    background: #e6eff4;
    font-family: Minecraft, sans-serif;
    padding: 15px;
}

#grid {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

.block {
    width: 16px;
    height: 16px;
    background: #fff;
    float: left;
    border: 1px solid #000;
    border-width: 0 1px 1px 0;
}

.row {
    float: left;
    clear: both;
}

.gridSizeInput {
    margin-right: 15px;
    width: 50px;
    padding: 5px;
    margin-bottom: 15px;
}

.gridSizeButton {
    padding: 5px;
    width: 50px;
}

.blockButton {
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
    border: 1px solid #e6eff4;
}

#blockPicker {
    float: left;
}

#sizePicker {
    float: left;
}

#settings {
    width: 100%;
    float: left;
}

.selected {
    border: 1px solid black;
}

#gridHolder {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 30px;
    float: left;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 80%;
    line-height: 20px;
    font-size: 14px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}