body {
    background: #fff;
}

#grid {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    float: left;
}

.block {
    width: 25px;
    height: 25px;
    background: #fff;
    float: left;
    border: 1px solid #000;
    border-width: 0 1px 1px 0;
}

.row {
    float: left;
    clear: both;
}

.gridSizeInput {
    margin-right: 15px;
    width: 50px;
    padding: 5px;
    margin-bottom: 15px;
}

.gridSizeButton {
    padding: 5px;
    width: 50px;
}